 Binaries for programs and plugins
*.exe
*.bin
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore go.sum
*.sum
# Dependency directories (remove the comment below to include it)

#removing vendor file
vendor/


#removing vendor file
bin/


# NODE